*{
    margin: 0;
    padding: 0;
}
.e{
    display: none;
}
.container{
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 50px auto;
    outline: 5px solid gray;
    box-shadow: 0px 0px 15px 20px grey;
    overflow: visible;
}
.container .circle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 1000px;
    height: 1000px;
    border-radius: 500px;
    outline: 2px solid black;
    overflow: hidden;
}
.circle .axis{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    outline: 1px solid black;
    position: absolute;
}
.axis .center{
    border: 1px solid greenyellow;
    position: absolute;
    z-index: 10;
}
.circle .eg1{
    width: 796px;
    height: 796px;
    border: 2px solid rgba(0, 0, 255, 0.651);
    border-radius: 400px;
    position: absolute;
}
.circle .eg2{
    width: 662px;
    height: 662px;
    border: 2px solid rgba(0, 0, 255, 0.651);
    border-radius: 333px;
    position: absolute;
}
.circle .eg3{
    width: 496px;
    height: 496px;
    border: 2px solid rgba(0, 0, 255, 0.651);
    border-radius: 250px;
    position: absolute;
}
.circle .eg4{
    width: 246px;
    height: 246px;
    border: 2px solid rgba(0, 0, 255, 0.651);
    border-radius: 125px;
    position: absolute;
}
.circle .egy1{
    width: 3996px;
    height: 3996px;
    border: 2px solid rgba(255, 0, 0, 0.692);
    border-radius: 2000px;
    position: absolute;
    transform: translate(2000px, 2000px);
}
.circle .egy2{
    width: 1996px;
    height: 1996px;
    border: 2px solid rgba(255, 0, 0, 0.692);
    border-radius: 1000px;
    position: absolute;
    transform: translate(1000px, 1000px);
}
.circle .egy3{
    width: 996px;
    height: 996px;
    border: 2px solid rgba(255, 0, 0, 0.692);
    border-radius: 500px;
    position: absolute;
    transform: translate(500px, 500px);
}
.circle .egy4{
    width: 496px;
    height: 496px;
    border: 2px solid rgba(255, 0, 0, 0.692);
    border-radius: 250px;
    position: absolute;
    transform: translate(250px, 250px);
}
.circle .eg-y1{
    width: 3996px;
    height: 3996px;
    border: 2px solid rgba(255, 0, 0, 0.692);
    border-radius: 2000px;
    position: absolute;
    transform: translate(2000px, -2000px);
}
.circle .eg-y2{
    width: 1996px;
    height: 1996px;
    border: 2px solid rgba(255, 0, 0, 0.692);
    border-radius: 1000px;
    position: absolute;
    transform: translate(1000px, -1000px);
}
.circle .eg-y3{
    width: 996px;
    height: 996px;
    border: 2px solid rgba(255, 0, 0, 0.692);
    border-radius: 500px;
    position: absolute;
    transform: translate(500px, -500px);
}
.circle .eg-y4{
    width: 496px;
    height: 496px;
    border: 2px solid rgba(255, 0, 0, 0.692);
    border-radius: 250px;
    position: absolute;
    transform: translate(250px, -250px);
}
.point_u{
    z-index: 1;
    /*width: 496px;
    height: 496px;*/
    border: 2px solid orange;
    /*border-radius: 250px;*/
    position: absolute;
}
.point_v{
    z-index: 1;
    /*width: 496px;
    height: 496px;*/
    border: 2px solid green;
    /*border-radius: 250px;*/
    position: absolute;
    /*transform: translate(251px, -251px);*/
}